@charset "UTF-8";

:root {
    --menu-border-color: #f33;
}

/* 템플릿 */
.templates { display:none; }

html { height:100%; }
body { height:100%; background-color:#333; color:#fff; }

ul, ol { list-style: none; margin:0; padding:0; }

#cafe-menu { max-width:40rem; margin:auto; }

.category { border-top:0.125rem solid var(--menu-border-color); }
.category .info { display:flex; flex-flow:row nowrap; margin-bottom:0.5rem; text-transform: uppercase; }
.category .info > h3 { flex:1 1 auto; margin:0; font-size:1.75rem; letter-spacing:0.15rem; }

ol.price { display:table; table-layout:fixed; margin:0; padding:0; }
ol.price > li { display:table-cell; width:6rem; padding:0.5rem; border-left:0.125rem solid transparent; text-align:center;  }

.category .info > ol.price li { border-color:var(--menu-border-color); }

.item { display:flex; flex-flow:row nowrap; }
.item > .name { flex: 1 1 auto; font-size:1.25rem; font-weight:600; }
